    @font-face {
        font-family: space;
        src: url(space.ttf);
    }
    
    body {
        margin: 0;
        background-image: url("pics/couv4.jpg");
        background-size: cover;
        font-family: space, sans-serif;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        height: 500px;
    }
    
    h1,
    .accroche {
        width: 100%;
        color: #d35400;
        text-align: center;
    }
    
    h1 {
        font-size: 90px;
    }
    
    .accroche {
        font-size: 40px;
    }
    
    .inside_container {
        width: 70%;
        display: flex;
        margin: auto;
        justify-content: space-around;
    }
    
    #play,
    #rules {
        width: 15%;
        height: 100%;
        color: #9b158b;
        font-size: 30px;
    }
    
    #rules {
        margin-top: 0;
        width: 40%;
        text-decoration: underline;
        cursor: pointer;
    }
    
    #play:hover,
    #rules:hover {
        transform: scale(1.2);
    }
    
    #rules_p {
        display: none;
        background-color: rgba(84, 79, 79, 0.7);
        text-align: center;
    }
    
    #rules_p.visible {
        display: block;
    }
    
    #rules_p p {
        color: white;
        font-size: 20px;
    }
    
    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        font-weight: bold;
        font-size: 10px;
        color: #d35400;
    }
    
    @media screen and (max-width: 600px) {
        .container {
            width: auto;
        }
        h1 {
            font-size: 50px;
        }
        .accroche {
            font-size: 30px;
        }
        .inside_container {
            width: auto;
        }
        #play,
        #rules {
            font-size: 18px;
        }
        #play:hover,
        #rules:hover {
            transform: scale(1.1);
        }
        #rules_p p {
            font-size: 18px;
        }
    }