@font-face {
    font-family: Space;
    src: url(space.ttf);
}

body {
  margin: 0;
  background-image: url("pic's/couv4.jpg");
  background-size: cover;
  font-family: Space, sans-serif;
}

a {
  color: #9b158b;
}

.header {
  position: absolute;
  display: block;
  width: 100%;
  height: 100px;
}

.titre {
  text-align: center;
  right: 8%;
  top: 21%;
  position: absolute;
  font-size: 40px;
  color: #d35400;
}

@media screen and (max-width : 600px) {
  .titre {
    font-size: 30px;
    right: 5px;
  }

  body {
    background-size:cover;
  }
}
