
html {
  cursor: none;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #ededed;
  height: 100%;
}

@font-face {
    font-family: space;
    src: url(space.ttf);
}

#cursorperso {
  width: 100px;
  height: 100px;
  background: url("pics/icon.png") no-repeat center center;
  position: absolute;
  z-index: 10;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #000;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0px #656565;
  position: relative;
}

#canvas {
  width: 100%;
  height: 100vh;
}

.fly {
position: absolute;
animation-duration: 1.5s;
animation-timing-function: ease-in-out;
z-index: 12;
}

@keyframes fly-from-top {
  0% {
    top: 0;
    transform: rotate(360deg);
  }
  100% {
    top:100%;

  }
}

@keyframes fly-from-right {
  0% {
    right: 0;
    transform: rotate(360deg);
  }
  100% {
    right:100%;
  }
}

@keyframes fly-from-bottom {
  0% {
    bottom: 0;
    transform: rotate(360deg);
  }
  100% {
    bottom:100%;
  }
}

@keyframes fly-from-left {
  0% {
    left: 0;
    transform: rotate(360deg);
  }
  100% {
    left:100%;
  }
}

#score {
  font-size: 90px;
  bottom: 0;
  color: #7f8c8d;
  position: absolute;
  font-family: space, sans-serif;
}
