@font-face {
    font-family: space;
    src: url(space.ttf);
}

html {
    cursor: none;
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #ededed;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.timer {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 90px;
    color: #7f8c8d;
    font-family: space, sans-serif;
    z-index: 200000;
}

#timer {
    margin: auto;
    color: #7f8c8d;
}


/*FENETRE POPUP SCORE FINAL*/

#cover {
    display: none;
    justify-content: center;
    position: absolute;
    top: 20%;
    width: 60%;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 200000;
}

#score {
    padding: 2px;
    width: 100%;
    margin: auto;
    display: none;
    text-align: center;
}

#score h1 {
    font-family: space, sans-serif;
    font-size: 65px;
    color: #9b158b;
}

#score p {
    font-family: space, sans-serif;
    font-size: 40px;
    color: #9b158b;
    margin: 10px;
}

#cover.visible {
    display: flex;
}

#score.visible {
    display: block;
}

button {
    font-family: space, sans-serif;
    font-size: 20px;
    color: #9b158b;
    padding: 5px;
    background-color: orange;
    box-shadow: 0px 0px 10px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

button a {
    color: #9b158b;
    text-decoration: none;
}

button:hover {
    border: none;
    box-shadow: inset 0px 0px 7px;
    background-color: rgba(0, 0, 0, 0.1);
}


/*-------------------------------------------------*/

#cursorperso {
    height: 100px;
    width: 100px;
    background: url("pics/rocket-icon.svg") no-repeat center center;
    position: absolute;
    z-index: 10;
}

#main {
    width: 100%;
    height: 100vh;
    background-color: #000;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0px #656565;
    position: relative;
}

#canvas {
    width: 100%;
    height: 100vh;
}

#baclette {
    font-size: 90px;
    bottom: 0;
    left: 0;
    color: #7f8c8d;
    position: absolute;
    font-family: space, sans-serif;
    z-index: 200000;
}

.fly {
    position: absolute;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    z-index: 12;
}

@keyframes fly-from-top {
    0% {
        top: 0;
        transform: rotate(360deg);
    }
    100% {
        top: 100%;
    }
}

@keyframes fly-from-right {
    0% {
        right: 0;
        transform: rotate(360deg);
    }
    100% {
        right: 100%;
    }
}

@keyframes fly-from-bottom {
    0% {
        bottom: 0;
        transform: rotate(360deg);
    }
    100% {
        bottom: 100%;
    }
}

@keyframes fly-from-left {
    0% {
        left: 0;
        transform: rotate(360deg);
    }
    100% {
        left: 100%;
    }
}

@media screen and (max-width: 600px) {
    .fly {
        width: 90px;
        height: 90px;
    }
}