
html {
  cursor: url("pic's/icon.png"), pointer;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #ededed;
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #000;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0px #656565;
  position: relative;
}

#canvas {
  width: 100%;
  height: 100vh;
}

#score {
  font-size: 80px;
  bottom: 0;
  position: absolute;
  font-family: url("space.ttf");
  z-index: 3200;
}


.fly {
position: absolute;
animation-duration: 1.5s;
animation-timing-function: ease-in-out;
}

@keyframes fly-from-top {
  0% {
    top: 0;
    transform: rotate(360deg);
  }
  100% {
    top:100%;

  }
}

@keyframes fly-from-right {
  0% {
    right: 0;
    transform: rotate(360deg);
  }
  100% {
    right:100%;
  }
}

@keyframes fly-from-bottom {
  0% {
    bottom: 0;
    transform: rotate(360deg);
  }
  100% {
    bottom:100%;
  }
}

@keyframes fly-from-left {
  0% {
    left: 0;
    transform: rotate(360deg);
  }
  100% {
    left:100%;
  }
}

@media screen and (max-width: 600px) {
  .fly {
    width: 90px;
    height: 90px;
  }
}
