body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  width: 800px;
  height: 600px;
  background-color: #000;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0px #656565;
  position: relative;
}

#jeu {
    width: 100%;
    height: 100vh;
    border: 2px black solid;
    background: url('fond.png');
    position: relative;
}

.fly {
position: absolute;
animation-duration: 1.5s;
animation-timing-function: ease-in-out;
}

@keyframes fly-from-top {
  0% {
    top: 0;
    transform: rotate(360deg);
  }
  100% {
    top:100%;

  }
}

@keyframes fly-from-right {
  0% {
    right: 0;
    transform: rotate(360deg);
  }
  100% {
    right:100%;
  }
}

@keyframes fly-from-bottom {
  0% {
    bottom: 0;
    transform: rotate(360deg);
  }
  100% {
    bottom:100%;
  }
}

@keyframes fly-from-left {
  0% {
    left: 0;
    transform: rotate(360deg);
  }
  100% {
    left:100%;
  }
}
