#jeu {
      width: 600px;
      height: 400px;
      border: 2px black solid;
      background: url('fond.png');
    }

#bon{
      z-index: 100;
      position: absolute;
      display: none;
			transform: translate3d();
    }

#mauvais{
      z-index: 100;
      position: absolute;
      display: none;

    }
