body {
  margin: 0;
}
#jeu {
    width: 100vw;
    height: 100vh;
    border: 2px black solid;
    background: url('fond.png');
    position: relative;
}

#bon{
    z-index: 100;
    position: absolute;
    display: none;
}

#mauvais{
    z-index: 100;
    position: absolute;
    display: none;
}

.fly {
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@keyframes fly-from-top {
  0% {
    top: 0;
  }
  100% {
    top:100%;
  }

}
