body {
  margin: 0;
}
#jeu {
    width: 100vw;
    height: 100vh;
    border: 2px black solid;
    background: url('fond.png');
    position: relative;
}


.fly {
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

@keyframes fly-from-top {
  0% {
    top: 0;
    transform: rotate(360deg);
  }
  100% {
    top:100%;

  }
}

@keyframes fly-from-right {
  0% {
    right: 0;
    transform: rotate(360deg);
  }
  100% {
    right:100%;
  }
}

@keyframes fly-from-bottom {
  0% {
    bottom: 0;
    transform: rotate(360deg);
  }
  100% {
    bottom:100%;
  }
}

@keyframes fly-from-left {
  0% {
    left: 0;
    transform: rotate(360deg);
  }
  100% {
    left:100%;
  }
}
